<div id="lasso-intercom-promotions" class="row alert green-bg white shadow mb-0 collapse" href="#lasso-intercom-promotions" data-toggle="collapse">
	<div class="col text-center p-3">
		<span>
			Earn 3-5x higher Amazon commissions from the products you love.
			<strong><a href="https://app.getlasso.co/signup/plus" class="text-white" target="_blank"><ins>Join Affiliate<sup>+</sup> for free!</ins></a></strong>
		</span>
		<button class="close white" href="#lasso-intercom-promotions">
			<i class="far fa-times-circle"></i>
		</button>
	</div>
</div>
