<div id="lasso-intercom-promotions" class="row alert green-bg white shadow mb-0 collapse" href="#lasso-intercom-promotions" data-toggle="collapse">
	<div class="col text-center p-3">
		<span>
			<strong><a href="#" id="connect-to-lasso" class="text-white"><ins>Connect to Lasso</ins></a></strong> for higher commission rates and free Amazon revenue tracking.
		</span>
		<button class="close white" href="#lasso-intercom-promotions">
			<i class="far fa-times-circle"></i>
		</button>
	</div>
</div>
